{% extends 'base.html' %}
{% block title %} <title>About </title>{% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Cherry's Car rental services</h1>
      <p>This is a platform where users can find cars for rent along with driver, the mininum kilometers for an order is 60.
     There is no bargain of price,please mention your correct details as our executives can find your address easily.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Show-more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Charan teja</h2>
        <p>Chief executive who take cares all of our services online and offline</p>
        <p><a class="btn btn-secondary" href="#" role="button">Chief executive officer &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Bavani prasad</h2>
        <p>Mechanical engineer who's regularly checks all the cars performance.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Mechanical engineer &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heshritha</h2>
        <p>Receptionist who manages all of your queries about booking a car.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Receptionist &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}
